*{
    margin: 0px;
    padding: 0px;
}


body{
    font-family: poppins;
    background-color: #F7FAFE;
}

/* FONT STYLE */

h1 {
    font-size: 50px;
}

h2 {
    font-size: 36px;
}

h3{
    font-size: 24px;
}

/* MENU NAV */

.navbar navbar-expand-lg navbar-light bg-light {
    background-color: #8883F0;
}

.menu ul {
    position: relative;
}

.menu ul > li {
    position: relative;
}

.menu ul > li:hover ul{
    display: block;
}

.menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left:0;
    background-color: #8883F0;
    padding: 10px;
    text-align: left;
    width: 180px;
    color: whitesmoke;
}

.menu li{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.menu a{
    text-decoration: none;
    color:whitesmoke;
}

.menu a:hover{
    text-decoration: underline;
    color: orange;
}

.logo {
    display: inline-block;
    box-sizing: border-box;
    width: 40%;
    padding-left: 20px;
    vertical-align: middle;
}

logo a {
    display: inline-block;
    background-color: #8883F0;
}

.menu {
    vertical-align: middle;
    display: inline-block;
    box-sizing: border-box;
    width:60%;
    text-align: right;
    padding-right: 20px;
}

.boton_login {
    display: inline-block;
    background-color: #EF8481;
    color: whitesmoke;
    padding: 10px;
    border-radius: 4px;
}

/* BANNER HOME */

.SlidePrincipal {
    width: 100vw;
    height: fit-content;
    padding: 50px 50px 0px 50px;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to bottom,#8883F0,#5b56b4);
    justify-content: space-around;
}




.SlidePrincipal h1{
    color: whitesmoke;
    line-height: 52px;
    margin-bottom: 15px;
    animation-name: texto;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-duration: 1s;

}

.SlidePrincipal p {
    color: whitesmoke;
    font-size: 18px;
    animation-name: texto;
    animation-timing-function:ease-out;
    animation-iteration-count: 1;
    animation-duration: 1s;
}

.PrimaryButton {
    background-color: #EF8481;
    color: #F6FBF9;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 10px 10px 10px;
    border: none;
    border-radius: 20px;
    width: 50%;
    animation-name: texto;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-duration: 1s;
}

/* SERVICIOS */

.servicios {
    width: 100vw;
    padding: 100px 0px 100px 0px;
    background-color: #F7FAFE;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.card {
    width: 30%;
}

.card:hover{
    filter:drop-shadow(0 0 0.75rem #cecbf8);
    transform: scale(1.05,1.05);
}

.card p {
   justify-content: center;
}

.especialidades img {
    height: 157px;
    margin-bottom: 15px;
    width: 157px;
    justify-content: center;
}

/* QUE HACEMOS */

.QueHacemos {
    
    width: 100vw;
    height: auto;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.QueHacemos h2 {
    color: #8883F0;
}

.QueHacemos p {
    color: #737B7D;
}

.texto_quehacemos {
    width: 30%;
}

.img_quehacemos {
    width: 40%;

}

/*FOOTER*/

.top{
    position: fixed;
    background-color: #EF8481;
    border-radius: 4px;
    bottom:20px;
    right:20px;
    color: whitesmoke;
    padding: 10px 10px 10px 10px;
}

.footer{
    margin-top: 50px;
    padding: 20px 20px 20px 20px;
    overflow: hidden;
    color: white;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom,#8883F0,#5b56b4);
}


.LogosRedes {
    margin-top: 10px;
    margin-right: 5px;
    display: inline-block;
}

.logoPie {
    width: 100%;
    margin-bottom: 30px;
}

/* PLATAFORMA */

.plataforma {
    background-image:linear-gradient(to right,#8883F0,#b3afff); 
    padding: 50px 50px 50px 50px;
    width: 100vw;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.stores {
    margin-top: 15px;
}

.plataforma h2 {
    color: whitesmoke;
    margin-bottom: 20px;
}

.plataforma p {
    color: whitesmoke;
    margin-bottom: 20px;
}

.app:hover {
    transform: perspective(400px) rotateY(-10deg);
}

/*TESTIMONIOS*/

.testimonios {
    background-color: #F7FAFE;
    padding: 150px 50px 150px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonios h2 {
    text-align: center;
    color: #8883F0;
    margin-bottom: 20px;
}

.testimonios p {
    color: grey;
    text-align: center;
    margin-bottom: 20px;
}

.testimonios img {
    margin: 25px 25px 25px 25px;
}


/*SECCIÓN SERVICIOS*/

#consultas {
    background-color: #FFF3EF;
    padding: 50px 50px 50px 50px;
}

.headerSection {
    background-color:#8883F0;
    color: white;
    width: auto;
    height: 100px;
    padding: 20px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.planes {
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
}

.precios {
    height: fit-content;
    margin: 15px 15px 15px 15px;
    padding: 30px 50px 30px 50px;
    background-color: #fafafa;
    color:#8883F0;
    border-radius: 10px; 
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.precios .PrimaryButton {
    width: 50%;
}

.precios_destacado {
    height: fit-content;
    margin: 15px 15px 15px 15px;
    padding: 50px 50px 50px 50px;
    align-items: center;
    background-color: #5243C2;
    color: whitesmoke;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.precios_destacado .PrimaryButton {
    width: 50%;
}


/*BLOG*/

.buscador-blog {
    width: auto;
    height: fit-content;
    background-color: rgba(136, 131, 240, 0.3);
    display: flex;
    justify-content: center;
}

.buscador{
    width: 50%;
    height: 56px;
    background-color: #fafafa;
    border-color:#8883F0;
    border-radius: 20px;
}

.SearchButton {
    width: 20%;
    height: 56px;
    background-color: #EF8481;
    color: white;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    font-family: poppins;
}

.contenidoblog {
    background-color: #F7FAFE;
    width: auto;
    display: grid;
    grid-template-areas: 
    "principal principal secundaria"
    "nota1 nota2 nota3";
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3%;
    margin: 20px 15px 15px 15px;
}

.NotaPrincipal {
    color:#373F41;
    grid-area: principal;
    padding: 50px 50px 50px 50px;
}

.NotaSecundaria {
    background-color: #F7FAFE;
    margin-top: 20px;
    grid-area: secundaria;
    padding-right: 50px;
}

.TituloAside {
    color: #FAFAFA;
    margin-left: 15px;
    padding: 10px 10px 10px;
}

.BlogAside {
    color: #8883F0;
    margin-bottom: 20px;
    margin-left: 15px;
    border-bottom: solid 1px whitesmoke;
    padding: 10px 10px 10px 10px;
}

.nota1 {
    background-color: #FAFAFA;
    border-radius: 4px 4px 4px 4px;
    grid-area: nota1;
    height: 400px;
    width: auto;
    margin-top: 20px;
    align-items: center;
}

.nota2 {
    background-color: #FAFAFA;
    border-radius: 4px 4px 4px 4px;
    grid-area: nota2;
    height: 400px;
    width: auto;
    margin-top: 20px;
    align-items: center;
}

.nota3 {
    background-color: #FAFAFA;
    border-radius: 4px 4px 4px 4px;
    grid-area: nota3;
    height: 400px;
    width: auto;
    margin-top: 20px;
    align-items: center;
}

.img_principal {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.img_notas {
    width:100%;
    height: 60%;
    margin-bottom: 15px;
}

/*SOBRE NOSOTROS*/

.SobreNosotros {
    width: auto;
    height: 400px;
    padding: 50px 50px 50px 50px;
    background-image: url("../assets/img/bkg_servicios.png");
    color: white;
}

.SobreNosotros a{
    display: block;
    margin-top: 20px;
    color: white;
    text-decoration: none;
}

.items {
    width: auto;
    height: auto;
    color: whitesmoke;
    background-color: #F7FAFE;
}

.items h2 {
    color: #8883F0;
}

.items p {
    color: #4F4F4F;
}

.item_01 {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.item_02 {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.item_03 {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.img_nosotros {
    margin: 15px 15px 15px 15px;
}

.parrafo_nosotros {
    margin: 15px 15px 15px 15px;
}

.item_02 .img_nosotros {
    order: 1;
}


/*LOGIN*/

.IngresoPacientes {
    width: auto;
    height: auto;
    padding: 50px 50px 50px 50px;
    background-image: url("../assets/img/bkg_login.png");

}

.IngresoPacientes h2{
    color: white;
}

.login {
    background-color: #F6FBF9;
    padding: 15px 15px 15px 15px;
    width: 30%;
    border-radius: 10px;
}

/* SUSCRIPCION NEWS */

.SuscripcionNews {
    width: auto;
    height: fit-content;
    background-color: #F7FAFE;
    color: #8883F0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 100px 100px 100px;
}

.FormSuscripcion {
    background-color: #FAFAFA;
    border-radius: 4px;
    width: 80%;
    margin-top: 30px;
}

fieldset {
    width: auto;
    background-color: rgba(136, 131, 240, 0.3);
    padding: 20px 20px 20px 20px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}
.SuscripcionNews input {
    background-color: #FAFAFA;
    border: 1px solid #8883F0;
    border-radius: 10px;
    width: 40%;
    height: 45px;
    font-family: poppins;
    font-size: 16px;
}

.SuscripcionNews label {
    color: gray;
    font-weight: bold;
}

.SuscripcionNews ::placeholder {
    padding-left: 15px;
}

.SuscripcionNews .buttonMedium {
    background-color: #EF8481;
    width: 20%;
    height: 45px;
    font-family: poppins;
    font-size: 16px;
    color: white;
    border: none;
}


/*ANIMACIONES*/

@keyframes texto {
    0%{
     opacity: 0%;
     transform: translate(0px,-20px);
    }

    100% {
        opacity: 100%;
        transform: translate(0px,0px);
    }
}

 /*RESPONSIVE*/

 @media (max-width: 576px) {

    .SlidePrincipal {
        flex-direction: column;
        height: fit-content;
        padding-bottom: 0px;
        justify-content: center;
    }

    .content-slide {
        width: 100%;
        text-align: center;
    }
    
    .QueHacemos {
        flex-direction: column;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 50px;
    
    }

    .QueHacemos h2 {
        text-align: center;
    }

    .texto_quehacemos {
        width: 100%;
    }
    
    .img_quehacemos {
        width: 100%;
        margin-top: 50px;    
    }

    .servicios {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .card {
        width: 100%;
    }

    .plataforma {
        width: 100vw;
        flex-direction: column;
        justify-content: center;
    }
    
    .app {
        margin-top: 50px;
    }
    
    .plataforma h2 {
        text-align: center;
    }
    
    .plataforma p {
        text-align: center;
    }
    
 }

 @media (min-width: 576px) {
    .SlidePrincipal {
        flex-direction: column;
        height: fit-content;
        padding-bottom: 0px;
        justify-content: center;
    }

    .content-slide {
        width: 100%;
        text-align: center;
    }
    
    .QueHacemos {
        flex-direction: column;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 50px;
    
    }

    .QueHacemos h2 {
        text-align: center;
    }

    .texto_quehacemos {
        width: 100%;
    }
    
    .img_quehacemos {
        width: 100%;
        margin-top: 50px;    
    }

    .servicios {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .card {
        width: 100%;
    }

    .plataforma {
        width: 100vw;
        flex-direction: column;
        justify-content: center;
    }
    
    .app {
        margin-top: 50px;
    }
    
    .plataforma h2 {
        text-align: center;
    }
    
    .plataforma p {
        text-align: center;
    }
    
 }

 @media (min-width: 768px) {
    .SlidePrincipal {
        flex-direction: column;
        height: fit-content;
        padding-bottom: 0px;
        justify-content: center;
    }

    .content-slide {
        width: 100%;
        text-align: center;
    }
    
    .QueHacemos {
        flex-direction: column;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 50px;
    
    }

    .QueHacemos h2 {
        text-align: center;
    }

    .texto_quehacemos {
        width: 100%;
    }
    
    .img_quehacemos {
        width: 100%;
        margin-top: 50px;    
    }

    .servicios {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .card {
        width: 100%;
    }

    .plataforma {
        width: 100vw;
        flex-direction: column;
        justify-content: center;
    }
    
    .app {
        margin-top: 50px;
    }
    
    .plataforma h2 {
        text-align: center;
    }
    
    .plataforma p {
        text-align: center;
    }
 }

 @media (min-width: 992px) {
    .SlidePrincipal {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .content-slide {
        width: 50%;
        text-align: left;
    }
    
    .QueHacemos {
        flex-direction: row;
        justify-content: space-around;
        padding-top: 50px;
        padding-bottom: 50px;
    
    }

    .QueHacemos h2 {
        text-align: left;
    }

    .texto_quehacemos {
        width: 40%;
    }
    
    .img_quehacemos {
        width: 40%;
        margin-top: 50px;    
    }

    .servicios {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: baseline;
    }

    .plataforma {
        width: 100vw;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    
    .app {
        margin-top: 50px;
    }
    
    .plataforma h2 {
        text-align: left;
    }
    
    .plataforma p {
        text-align: left;
        width: 50%;
    }
 }

 @media (min-width: 1200px) {
 }

 @media (min-width: 1400px) {
 }




